.final_step{
    display: none;
    background-color: $lgtgrey;
    div{
        &.finalstep_wrapper{
            padding: 143px 0 284px;
            font-size: 0;
            h2{
                font-size: 36px;
                color: $dark;
                margin-bottom: 43px;
            }
            div{
                &.finalstep_container{
                    display: inline-block;
                    width: calc((100% / 2) - 30px);
                    background-color: white;
                    font-size: 0;
                    padding: 26px 20px;
                    position: relative;
                    .load{
                        display: inline-block;
                        border:  7px solid $mild_blue;
                        border-right: 7px solid $bright_blue;
                        border-bottom: 7px solid $bright_blue;
                        border-top: 7px solid $bright_blue;
                        width: 105px;
                        height: 105px;
                        border-radius: 50%;
                    }
                    span{
                        &.percentage{
                            font-size: 36px;
                            color: $dark;
                            left: 17%;
                            position: absolute;
                            top: 43%;
                            transform: translate(-50% , -50%);
                        }
                    }
                    div{
                        &.container_element{
                            display: inline-block;
                            vertical-align: top;
                            width: 270px;
                            padding-left: 28px;
                            h5{
                                color: $dark;
                                font-size: 24px;
                                font-weight: 400;
                            }
                            p{
                                font-size: 16px;
                                color: $battleship_grey;
                                margin-top: 6px;
                            }
                            div{
                                background-color: $bright_blue;
                                font-size: 14px;
                                color: $white;
                                padding: 10px;
                                margin-top: 10px;
                                border-radius: 3px;
                                width: 223px;
                                span{
                                    padding-right: 20px;
                                }
                                a{
                                    span{
                                        color: $white;
                                        padding-left: 20px;
                                        padding-right: 0;
                                        border-left: 1px solid $white;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div{
                &.new_application{
                    display: inline-block;
                    vertical-align: top;
                    width: calc((100% / 2) - 30px);
                    padding: 30px;
                    margin-left: 30px;
                    background-color: $lgtgrey;
                    border: 1px dashed $pale_grey;
                    h5{
                        font-size: 24px;
                        color: $dark;
                        font-weight: 400;
                    }
                    p{
                        font-size: 16px;
                        color: $battleship_grey;
                        margin-top: 6px;
                    }
                    div{
                        border: 1px solid $light_blue_grey;
                        width: 147px;
                        padding: 8px;
                        margin-top: 10px;
                        span{
                            border-right: 1px solid $light_blue_grey;
                            padding-right: 20px;
                            font-size: 14px;
                            color: $dark;
                        }
                        a{
                            span{
                                color: $light_blue_grey;
                                padding-left: 8px;
                                border: none;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}