header{
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    div{
        padding: 0 29px;
        font-size: 0;
        background: url("../images/group-5.png") no-repeat left;
        background-position: 85px;
        @media 
            (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) { 
            .img {
            background: url("../images/group-5@2x.png") no-repeat left;
            background-position: 85px;
            }
        }   
        @media 
            (-webkit-min-device-pixel-ratio: 3), 
            (min-resolution: 288dpi) { 
            .img {
            background: url("../images/group-5@3x.png") no-repeat left;
            background-position: 85px;
            }
        }          
        &:after{
            content: "";
            clear: both;
            display: block;
        }
        span{
            &.sidebar{
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;
                cursor: pointer;
            }
        }
        a{
            display: inline-block;
            vertical-align: top;
        }
        nav{
            float: right;
            margin-top: 14px;
            margin-bottom: 14px;
            a{
                margin-right: 42px;
                text-decoration: none;
                cursor: pointer;
                font-size: 15px;
                color: $grey;
                vertical-align: bottom;
                margin-top: 8px;
                margin-bottom: 8px;
                &.notification{
                    margin: 6px 30px 6px 20px;
                    span{
                        font-size: 24px;
                    }
                }
                &:hover{
                    color: $black;
                    transition: color 0.5s linear;
                }
            }
            img{
                margin-right: 12px;
                cursor: pointer;
            }
            h6{
                display: inline-block;
                vertical-align: top;
                font-size: 13px;
                margin-right: 10px;
                margin-top: 12px;
                cursor: pointer;
                span{
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            button{
                &.login{
                    display: none;
                    background-color: $bright_blue;
                    color: $white;
                    outline: none;
                    border: 1px solid $bright_blue;
                    padding: 8px 10px;
                    border-radius: 3px;
                    margin-top: 5px;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
            div{
                &.user_details{
                    display: inline-block;
                    padding: 0;
                    background: none;
                    position: relative;
                    div{
                        &.profile{
                            display: none;
                            background: none;
                            width: 275px;
                            position: absolute;
                            top:calc(100% + 15px);
                            background-color: $white;
                            right: 0;
                            padding: 20px;
                            font-size: 0;
                            box-shadow: 4px 5px 6px $grey;
                            div{
                                background:none;
                                padding: 0;
                                display: inline-block;
                                vertical-align: top;
                                p{
                                    font-size: 14px;
                                    color: $dark;
                                    font-weight: bold;
                                }
                                button{
                                    background-color: $bright_blue;
                                    color: $white;
                                    outline: none;
                                    border: 1px solid $bright_blue;
                                    padding: 8px 10px;
                                    border-radius: 3px;
                                    margin-top: 5px;
                                    font-size: 12px;
                                    cursor: pointer;
                                    transition: all 0.3s linear;
                                    &:hover{
                                        background-color: $white;
                                        color: $bright_blue;
                                        border: 1px solid $white;
                                    }

                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}