section{
    &.signup{
        background-color: $lgtgrey;
        div{
            text-align: center;
            padding: 143px 0 268px;
            h1{
                font-size: 36px;
                font-weight: 600;
                margin-bottom: 50px;
            }
            form{
                font-size:0;
                input{
                    padding: 13px 17px 13px;
                    outline : none;
                    display: inline-block;
                    border-radius: 4px;
                    width: 238px;
                    border: 1px solid $light_blue_grey;
                    &::placeholder{
                        color: $placeholder_clr;
                        font-size: 14px;
                    }
                    &:first-child{
                        margin-right: 20px;
                    }
                }
                button{
                    display: block;
                    margin: 0 auto;
                    margin-top: 20px;
                }
            }
        }
    }
}