$grey: #919eab;
$black: #000;
$white: #fff;
$primary_clr: #4ad5f6;
$icon_bg: #6b7c93;
$icon_color :#f4f6f8;
$icon_hvr:  #1d9ae3;
$grey : hsl(210, 13%, 62%);
$lgtgrey :#f9fafb;
$blue : #00c0ff;
$placeholder_clr: #adadad;
$mldgrey: #6a7c92;
$blk: #47495a;
$dark: #212b36;
$light_blue_grey :#c4cdd5;
$color: #adadad;
$bright_blue:#23c0f5;
$pale_grey: #dfe3e8;
$battleship_grey: #637381;
$gun_metal: #454f5b;
$clr: #fafafa;
$aqua: #47c1bf;
$pale_clr:#ecedf0;
$cerulean: #007ace;
$bottle_green: #00cfc0;
$purple: #5c6ac4;
$violet: #9c6ade;
$hot_pink: #de6a93;
$mild_blue:#dbecf8;
$green: #3cb865;
$ash:  #cbcbcb;


